.advantages {
  background: #1E1E1E;
  color: #fff;
}

.advantages__title {
  margin-bottom: clamp(4.583rem, 4.0298rem + 3.1614vw, 6.875rem);
}

.advantages-items .row {
  row-gap: clamp(3.125rem, 1.6906rem + 8.1967vw, 5.625rem);
}

.advantages-item .row {
  row-gap: clamp(3.125rem, 2.4078rem + 4.0984vw, 4.375rem);
}
.advantages-item__circle {
  position: relative;
}
.advantages-item__figure {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: -20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (min-width: 768px) {
  .advantages-item__figure {
    left: -16%;
  }
}
.advantages-item__image {
  position: relative;
  z-index: 2;
}
.advantages-item__text {
  font-size: clamp(1.041rem, 0.915rem + 0.72vw, 1.563rem);
}
@media (max-width: 768px) {
  .advantages-item__arrow {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    height: clamp(0.938rem, 0.7871rem + 0.8621vw, 1.563rem);
  }
  .advantages-item--reverse .advantages-item__arrow {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}